$black-dark: #050607;
$black-normal: #0D0E10;
$black-light: #15171A;

$white-dark: #EDEFF0;
$white-normal: #F5F7F7;
$white-light: #ccc;

$purple-dark: #6130F2;
$purple-normal: #7048E8;
$purple-light: #8E6FED;